

.resolved-box {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  max-height: 70vh;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('https://allthings.how/content/images/wordpress/2021/03/allthings.how-how-to-insert-check-mark-in-excel-checkmark.png');
  overflow-y: scroll;
}

.message-container {
  display: flex;
  flex-direction: column;
  
}

.message-bubble {
  background-color: #e0e0e0;

  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message-bubble strong {
  font-weight: bold;
  color: #333;
}

.message-bubble p {
  margin: 0;
}
