.messmenu-div{
    overflow: scroll;
    max-height: 100vh;
    max-width: 100vw;
}

table {
    border: 2px solid forestgreen;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the table */
   
    
}

th, td {
    border: solid;
    border-width: thin;
}

th {
    border-bottom: 1px solid black;
    text-align: center;
    font-family: cursive;
}

td {
    text-align: center;
    font-family: cursive;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        width: auto;
        display: block;
        box-sizing: border-box;
    }
}
