.profile-box{
    height: 70vh;
    width: 20vw;
    transform: translate(0,3vw);
    border: solid;
    float: left;
    animation: slider .2s  1 linear ;
    border-left: none;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
   
}
/* .profile-photo{
    width: 80%;
    height: 20vh;
    align-items: center;
    margin-left: 25%;
} */
@keyframes slider {
    0%{
        width: 0vh;
        display: none;
    }
    100%{
        width: 20vw;
        display: block;
    }
}

.profile-box-name{
    width: 80%;
    margin-top: 25%;
    margin-left: 5%;
    height: 5vh;
    border: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border-radius: .5px;
     border-width: 1px;
     background-color: rgb(100, 97, 97);
     text-align: center;
     border-color: blueviolet;
     text-transform: capitalize;
}

.profile-box-reg{
    width: 80%;
    margin-top: 2%;
    margin-left: 5%;
    height: 5vh;
    border: solid;
    border-radius: .5px;
     border-width: 1px;
     text-align: center;
     background-color: rgb(100, 97, 97);
     border-color: blueviolet;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: large;
}
.profile-box-id {
    width: 80%;
    margin-top: 30%;
    margin-left: 5%;
    height: 5vh;
    border: solid;
    border-radius: .5px;
    border-width: 1px;
    border-color: blueviolet;
}

@media only screen and (max-width:803px) {
    .profile-box {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        height: max-content;
        border: none;
        animation: none;

}
.profile-box-name,.profile-box-id,.profile-box-reg{
   
    height: max-content;
    width: 30%;
    display: inline;
    display: none;
    bottom: 0;
    border: none;
    color: white;
} 


   
    
}