*{
  align-items: center;
}

.about-section {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.973);
  
  color: white;
  font-family: cursive;
}
.about{
  font-size: 200%;
}

.x-btn {
  width: max-content;
  float: right;
}
/* ContactSection.css */

.contact-section {
  margin-top: 30px;

}

.contact-section h3 {
  color: red;
}

.contact-section p {
  line-height: 1.6;
}
.contact-person {
  margin-top: 20px;
}

.contact-person h4 {
  color: #333;
  color: red;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .about-section {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
