/* General Styles */
.calorie-body {
    background-color: rgb(51, 46, 46);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-family: 'Arial', sans-serif;
}

.calorie-box {
    width: 80%;
    max-width: 600px;
    background-image: url('https://www.hdfcergo.com/images/default-source/wellness-corner/13-best-low-calorie-foods_m.jpg');
    margin: 20px auto;
    /* background-position: center;
    background-repeat: no-repeat;
    back */
    padding: 20px;
    background-color: #3498DB;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.note{
    display: inline-block;
    animation: move 10s linear infinite;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

ul li {
    width: max-content;
    list-style: none;
}

.add-sub {
    font-size: 16px;
    padding: 8px 16px;
    margin: 8px;
    cursor: pointer;
    background-color: #E74C3C;
    color: #ECF0F1;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-sub:hover {
    background-color: #C0392B;
}

.btn-container {
    display: flex;
    align-items: center;
}

.calculate {
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    background-color: #2ECC71;
    color: #ECF0F1;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.calculate:hover {
    background-color: #27AE60;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-family: 'Cursive', sans-serif;
    font-size: larger;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .calorie-box {
        width: 90%;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .calorie-box {
        width: 95%;
        padding: 12px;
    }

    .calculate {
        font-size: 16px;
    }
}
